@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Signika:wght@300..700&display=swap');

.song-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 18vw;
  height: 100vh;
  background-color: rgb(228, 226, 226);
  box-shadow: 2px 2px 50px rgb(241, 204, 204);
  overflow: scroll;
  transition: all 1s linear;

  h2 {
    padding: 1vw;
    text-align: center;
  }
}

.song-list-items {
  display: flex;
  flex-direction: column;
  padding: 4vh 2vw;
  align-items: center;


  img {
    width: 40%
  }
}

.song-item {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  &:hover {
    background: rgb(200, 200, 200);
  }
}

.song-description {
  padding-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;


  h3 {
    font-size: 1rem;
    margin-bottom: 1vh;
    font-family: "Lilita One", sans-serif;
  }

  h4 {
    font-size: 0.8rem;
    font-family: "Signika", sans-serif;
  }
}

//کد زیر فقط در Mozila اعمال می شود
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

//کد های پایین برای این است که کد بالا که برای استایل scroll هست و فقط در Mozila نمایش داده میشود در بقیه هم مثل chrome و غیره اعمال شود

*::-webkit-scrollbar {
  width: 5px
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

//
.selected {
  background-color: rgb(107, 126, 146);
}

.displayList {
  transform: translateX(-30vw);
}

@media screen and (max-width: 768px) {
  .song-list {
    width: 100%;
  }
  .displayList {
    transform: translateX(-100vw);
  }
}